@font-face {
    font-family: style_font;
    src: url(../fonts/FrenteH1-Regular.otf);
}

.preview_text {
    position: relative;
    z-index: 1000;
    /* background: #555; */
    /* opacity: 0.5; */
    color: #000;
    padding: 5px;
    top: -115px;
    padding-left: 22px;
    font-family: style_font;
    font-size: 24px;
    text-align: center;
    width: 540px;
    margin-left: 3px;
}



.container {
    width: 100%;
    max-width: 540px;
    margin: 0 auto;
}

.hidden{
	display:none;
}

.img-wrap{
	position: relative;
	display:table-cell;
	vertical-align:bottom;
	width:540px;
	height:100%;
}

.img-wrap .text-overlay{
	position: absolute;
    top: 375px;
    width: 100%;
    text-align: center;
    height: 2em;

}

.text-overlay textarea{
    cursor: auto;
    padding: 1px;
    border-width: 0px;
    font-size: 30px;
    width: 74%;
    resize: none;
    text-align: center;
    border: 3px dashed #6aa4b7;
    /* overflow: auto; */
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none;
    background-color: transparent;
    -webkit-rtl-ordering: logical;
    user-select: text;
    font-family: style_font;
    margin: auto;
    margin-top: -10px;
    overflow-wrap: break-word;
}

.text-overlay textarea:active,
.text-overlay textarea:focus,
.text-overlay textarea:visited{
	border: 3px dashed #b2d7e3;
}

img {
	border:0px !important;
}

.form-group.radio-group{
	
}

.form-group.radio-group .radio label {
    padding: 5px 15px 5px 20%;
    background: #f8f8f8;
    display: block;
    font-size: 20px;
    border: 1px solid #e6e6e6;
    border-bottom: 0px;
}

.form-group.radio-group .radio:last-child label{
	border-radius: 0 0 10px 10px;
	border-bottom: 1px solid #e6e6e6;;
}

.form-group.radio-group .radio:first-child label{
	border-radius: 10px 10px 0 0;
}

.btn-primary {
    display: block;
    width: 100%;
    margin: 5px 0;
    padding: 10px;
    background: #ea879c;
    border: 2px solid #d44d69;
    border-radius: 5px;
    color: white;
    font-size: 1.5rem;
}

.output{
	max-width: 100%;
	margin:10px auto;
	border-radius:10px;
}

.action-buttons{
	text-align: center;
	margin-top: 10px; 
}

.loading{
	color: #d44d69;
	padding-top:10px;
}

h2{
	color:red;
}


.preview_text{
	display: none;
}


.radio{
	margin-bottom:0px;
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	.img-wrap .text-overlay{
		top: 74%;
	}

	.text-overlay textarea{
	    font-size: 18px;
	}

	.form-group.radio-group .radio label {
	    padding: 3px 10px 3px 10%;
	    font-size: 16px;
	}
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}